APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

LOG_CHANNEL=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=

DB_CONNECTION=
DB_HOST_WRITE=
DB_HOST_READ=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=
FILESYSTEM_DISK=
SESSION_DRIVER=
SESSION_LIFETIME=

CACHE_DRIVER=
MEMCACHED_HOST=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_SCHEME=

QUEUE_CONNECTION=
SQS_PREFIX=
SQS_QUEUE=
SQS_CLOUDWATCH_QUEUE=
SQS_QUEUE_EVENT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=

CLOUDWATCH_LOG_GROUP_NAME=
CLOUDWATCH_LOG_STREAM_NAME=

TEAMS_ERROR_INCOMING_WEBHOOK_URL=
TEAMS_INFO_INCOMING_WEBHOOK_URL=

NGPAY_GATEWAY_AUTH_ENDPOINT=
NGPAY_PAYMENT_ENDPOINT=
NGPAY_PAYMENT_REQUERY_ENDPOINT=
NGPAY_GATEWAY_AUTH_APP_KEY=
NGPAY_GATEWAY_AUTH_APP_SECRET=

MOLI_GATEWAY_AUTH_APP_KEY=
MOLI_GATEWAY_AUTH_APP_SECRET=
MOLI_GATEWAY_AUTH_ENDPOINT=
MOLI_GATEWAY_INVOICE_ENDPOINT=
MOLI_GATEWAY_ORDER_ENDPOINT=
MOLI_GATEWAY_FULFILLMENT_DEVICE_PREORDER_ENDPOINT=
MOLI_GATEWAY_SUBSCRIBER_ENDPOINT=
MOLI_GATEWAY_ACCOUNT_ENDPOINT=

MOLI_GATEWAY_FULFILLMENT_ESIM_ENDPOINT=
MOLI_GATEWAY_FULFILMENT_ADDON_ENDPOINT=
MOLI_GATEWAY_FULFILMENT_BILL_ENDPOINT=
MOLI_GATEWAY_FULFILMENT_RELOAD_ENDPOINT=
MOLI_GATEWAY_INVOICE_ENDPOINT=
MOLI_GATEWAY_ORDER_ENDPOINT=
MOLI_GATEWAY_SUBSCRIBER_ENDPOINT=
MOLI_GATEWAY_MSISDN_ENDPOINT=
MOLI_GATEWAY_PRODUCT_ENDPOINT=
MOLI_GATEWAY_TLX_ENDPOINT=
MOLI_GATEWAY_DEALER_ENDPOINT=
MOLI_GATEWAY_FULFILMENT_INVENTORY_ENDPOINT=
MOLI_GATEWAY_CUSTOMER_ENDPOINT=
MOLI_GATEWAY_FULFILLMENT_CELCOM_ESIM_ENDPOINT=

PRODUCT_CATALOGUE_GATEWAY_ENDPOINT=
PRODUCT_CATALOGUE_GATEWAY_ID=
PRODUCT_CATALOGUE_GATEWAY_SECRET=

JWT_SECRET=
ENABLE_DIRECT_CONNECT=
ENABLE_DIGIPAY=

NGOS_STORE_ID=
MMAG_AUTH_URL=
MMAG_ACCOUNT_ID=
MMAG_USERNAME=
MMAG_PASSWORD=
MMAG_STOCK_OUTBOUND_URL=
MMAG_STOCK_DELIVERY_URL=
MMAG_TRACKING_URL=

DIGI_DEALER_CODE=
CELCOM_DEALER_CODE=
CELCOM_PARTNER_ID=
CELCOM_SOURCE_SYSTEM=

IGW_GATEWAY_DOMAIN=
IGW_CLIENT_KEY=
IGW_CLIENT_SECRET=

CELCOM_STORE_ID=
CELCOM_USER_ID=

DASHBOARD_GATEWAY_ENDPOINT=
DASHBOARD_GATEWAY_USERNAME=
DASHBOARD_GATEWAY_PASSWORD=

SHELL_APP_BASE_PATH=

MOLI_AUTH_END_POINT=
MOLI_FUNCTION_DOMAIN=
MOLI_ACCESS_KEY=
MOLI_SECRET_ACCESS_KEY=

NGPAY_AUTH_END_POINT=
NGPAY_FUNCTION_DOMAIN=
NGPAY_ACCESS_KEY=
NGPAY_SECRET_ACCESS_KEY=

NGPC_FUNCTION_DOMAIN=
NGPC_AUTH_END_POINT=
NGPC_ACCESS_KEY=
NGPC_SECRET_ACCESS_KEY=

MMAG_AUTH_END_POINT=
MMAG_FUNCTION_DOMAIN=
DELIVERY_TRACKING_URL=

NGOS_FUNCTION_DOMAIN=
NGOS_AUTH_END_POINT=
NGOS_USERNAME=
NGOS_PASSWORD=
API_THROTTLE_LIMIT=

GLOBAL_ESIM_PROFILE_TYPE=
TLX_SCHEDULE_TIME=
